.list {
  flex-basis: 120px;
  margin: 10px;
  width: 100px;
  padding: 0;
  flex-shrink: 0;
}

.list ul {
  margin: 0;
  padding: 0;
}

.list li {
  display: block;
  background-color: rgba(50, 50, 50, 0.9);
  margin-bottom: 5px;
  padding: 5px;
  color: rgba(228, 228, 228, 1);
}

.list li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
