<div class="text">
  <plugin-test [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-test>
  <plugin-weather [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-weather>
  <plugin-rates [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-rates>
  <plugin-chuck [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-chuck>
  <app-plugin-ip [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></app-plugin-ip>
  <plugin-sunrise-sunset [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-sunrise-sunset>
  <plugin-giphy [message]="message" (interceptor)="intercept()" (discard)="discardMessage()"></plugin-giphy>
</div>
