<div class="content">
  <div class="chat">
    <header>
      The mighty chat !
    </header>
    <div class="messages">
      <div class="message" *ngFor="let message of messages">
        <div class="text">{{message.text}}</div>
        <div class="author">{{message.author}}</div>
        <div class="time">{{message.time}}</div>
      </div>
    </div>
    <div class="flex-input" *ngIf="!connected">
      <input type="text" placeholder="Username" />
      <button type="button">Connect</button>
    </div>
    <div class="flex-input" *ngIf="connected">
      <input type="text" placeholder="Message" />
      <button type="button">Send</button>
    </div>
  </div>
  <div class="list">
    <ul>
      <li *ngFor="let user of users">{{user}}</li>
    </ul>
  </div>
</div>
