<div class="chat">
  <header>
    The mighty chat !
  </header>
  <div #messagesDiv class="messages">
    <div class="message" *ngFor="let message of messages">
      <div class="text">{{message.text}}</div>
      <div class="author">{{message.author}}</div>
      <div class="time">{{message.time}}</div>
    </div>
  </div>
  <div class="flex-input">
    <input #textInput type="text" (keyup.enter)="send()" [(ngModel)]="text" placeholder="Message">
    <button type="button" (click)="send()">Send</button>
  </div>
</div>
<users-list [users]="users" (onSelectUser)="writeToChat($event)"></users-list>
