:host {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color : rgb(210, 210, 210);
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
}

input {
  height: 10px;
  padding: 8px;
  border: 1px solid rgb(210, 210, 210);
}

button {
  background-color: firebrick;
  border: none;
  padding: 5px;
  color: white;
}
